<%= render 'shared/error_messages', :form_model => @workshop %>


<h3>Workshop Title</h3>
<br />
<p>
<%= f.label :topic %>
<%= f.text_field :topic, :required => true, :placeholder => "Ex. 'Printmaking' or 'Jewelry Design'", :rel => 'popover', :data => { :content => 'What will you be teaching?', "original-title" => 'Topic' } %> 

Workshop with
<%= f.label :host, capture { %>
Your name + business name
<% } %>
<%= f.text_field :host, :required => true, :placeholder => "Ex. Natalie Davis of Canoe", :rel => 'popover', :data => { :content => 'How would you like to be listed? You can choose to use your own name, your business name, or both.', "original-title" => 'Name' }  %>
</p>

<!--Can we auto-fill the field with the user's name?-->
<!--Add a host?-->

<h3>Workshop Description</h3>
<br />
<% f.label :description %>
<%= f.text_area :description, :required => true, :placeholder => "Tell us about your workshop.", :rel => 'popover', :data => { :content => "Give a few sentences telling people what they’ll be learning and doing in the workshop, what (if anything) they’ll take home from it, and why it’s fun/awesome/useful.", "original-title" => 'Description' }  %>


<h3>Skills & Techniques</h3>
<%= f.label :skill_list, capture { %> 
<p>What skills and techniques will participants learn? (List each, followed by a comma)</p>
<% } %>
<div rel='popover' data-content="Be as specific as possible to give each participant credit for her experience. We’ll keep track, to help her show off her skills!" data-original-title='Skills & Techniques' > 
<%= f.text_field :skill_list, :required => true, :data => { :pre => @workshop.skills.map { |t|  { :id => t.name, :name => t.name } } } %>
</div>
<br />

<h3>Tools & Materials</h3>
<%= f.label :tool_list, capture { %>
<p>What tools and materials will participants learn to use? (List each, followed by a comma)</p> 
<% } %>
<div rel='popover' data-content="Be as specific as possible to give each participant credit for her experience. We’ll keep track, to help her show off her skills!" data-original-title='Tools & Materials' >
<%= f.text_field :tool_list, :required => true, :data => { :pre => @workshop.tools.map { |t|  { :id => t.name, :name => t.name } } }  %>
</div>
<br />

<h3>Requirements</h3>
<%= f.label :requirement_list, capture { %> 
<p>Do participants need experience with any skills, techniques, or tools before they join the workshop? (List each, followed by a comma)</p>
<% } %>
<div rel='popover' data-content="Participants will rate their level of experience with these skills and tools when they sign up, to help you plan your teaching." data-original-title='Requirements' >
<%= f.text_field :requirement_list, :data => { :pre => @workshop.requirements.map { |t|  { :id => t.name, :name => t.name } } }  %>
</div>

<%= f.label :other_needs, capture { %>
<p>Are there other things participants should do to prepare, or bring to the workshop?<p>
<% } %>
<%= f.text_field :other_needs, :placeholder => "Ex. 'Wear sturdy shoes (no sandals)' or 'Bring a camera'", :rel => 'popover', :data => { :content => "Participants will be reminded to bring these .", "original-title" => 'Other Needs' } %>
<br />

<%= f.label :begins_at, capture { %> 
<h3>When</h3>
<% } %>
<div class="input-append date" data-behaviour="datepicker">
  <%= f.text_field :begins_at, :required => true, :class => "span2", :value => @workshop.begins_at.strftime("%m/%d/%Y") %>
</div>
<div class="timefield">
  <%= f.text_field :begins_at_time, :class => "span2", :placeholder => "12:00pm" %> to
  <%= f.text_field :ends_at_time, :class => "span2", :placeholder => "3:00pm" %>
</div>

<!-- 
, :value => @workshop.begins_at_time.strftime("%l:%M%P")
, :value => @workshop.ends_at_time.strftime("%l:%M%P")
	Repeat?-->

<h3>Location</h3>
<div class="controls">
<%= f.text_field :location_address, :required => true, :class => "span6", :placeholder => 'Address Line 1', :rel => 'popover', :data => { :content => "Where will the workshop take place? Please give the exact address. If it’s your home we’ll show only the neighborhood on the public listing, and send the address to participants when they sign up.", "original-title" => 'Location' } %>
</div>
<div class="controls">
<%= f.text_field :location_address2, :placeholder => 'Address Line 2', :class => "span6" %>
</div>
<div class="controls controls-row">
<%= f.text_field :location_city, :required => true, :placeholder => 'City', :class => "span3" %>
<%= f.text_field :location_state, :required => true, :placeholder => 'State', :class => "span1" %>
<%= f.text_field :location_zipcode, :required => true, :placeholder => 'Zip', :class => "span2" %>
</div>

<%= f.label :location_private, :class => "checkbox" do %>
  <%= f.check_box :location_private %>This is a private or home address in the <% end %><%= f.text_field :location_nbrhood, :placeholder => 'Ex. Clarksville', :class => 'span2' %> neighborhood.


<h3>Age Range</h3>
<%= f.label :age_min, "Min. age" %>
<%= f.number_field :age_min, :required => true, :class => "span1", :rel => 'popover', :data => { :content => "This is entirely up to you. We suggest a minimum age of 10 because our research has shown a need for fabulous mentors before middle school. If participants need a specific skill set or level of experience you may want to set the age higher, or if you're comfortable working with children you may want to focus on a younger age range.", "original-title" => 'Age Range' } %>
<%= f.label :age_max, "Max. age" %>
<%= f.number_field :age_max, :class => "span1", :rel => 'popover', :data => { :content => "If you want to work specifically with children or teenagers, you can set a maximum age accordingly. If you're happy to work with adults as well, you can set the maximum to 99.", "original-title" => 'Age Range' } %>

<h3>Number of Participants</h3>
<%= f.label :registration_min, "Min. participants" %>
<%= f.number_field :registration_min, :required => true, :class => "span1", :rel => 'popover', :data => { :content => "What is the minimum number of participants you need to run the workshop? If fewer than this number have signed up by the time registration closes, the workshop will be cancelled.", "original-title" => 'Number of Participants' } %> 
<br />
<%= f.label :registration_max, "Max. participants" %>
<%= f.number_field :registration_max, :required => true, :class => "span1", :rel => 'popover', :data => { :content => "What is the maximum number of participants you can accommodate in the workshop? Once this many people have signed up, we will close registration for the workshop.", "original-title" => 'Number of Participants'} %>


<%= f.label :price, capture { %>
<h3>Cost</h3>
<% } %>
<%= f.text_field :price, :class => "span1", :rel => 'popover', :data => { :content => "Please list the amount per girl that you want to earn from teaching this session (remember to account for materials). We’ll add 20% on top of that to set the full fee each girl will pay. See our FAQ page for details and examples of our cost structure."} %>

<!--<p><%= @workshop.price %> + 20% = <%= @workshop.price %> x 1.2 TOTAL cost to participants</p>-->

<%= f.label :ends_at, capture { %> 
<p>Close registration for this workshop on:</p>
<% } %>
<div class="input-append date" data-behaviour="datepicker">
  <%= f.text_field :ends_at, :required => true, :class => "span2", :value => @workshop.ends_at.strftime("%m/%d/%Y") %>
</div>




